﻿@model Vidly.ViewModels.CustomerFormViewModel

@{
    ViewBag.Title = "CustomerForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Title</h2>

@using (Html.BeginForm("Save", "Customer"))
{
    @Html.ValidationSummary()
    <div class="form-group">
        @Html.LabelFor(m => m.MyCustomer.Name)
        @Html.TextBoxFor(m => m.MyCustomer.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.MyCustomer.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.MyCustomer.MembershipTypeId)
        @Html.DropDownListFor(m => m.MyCustomer.MembershipTypeId, new SelectList(Model.MembershipTypes, "Id", "Name"), "Select Membership Type", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.MyCustomer.MembershipTypeId)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.MyCustomer.Birthday)
        @Html.TextBoxFor(m => m.MyCustomer.Birthday, "{0:d MMM yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.MyCustomer.Birthday)
    </div>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.MyCustomer.IsSubscribedToNewsLetter) Subscribed to Newsletter?
        </label>
    </div>
    @Html.HiddenFor(m => m.MyCustomer.ID);
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>    
}

@section scripts
    {
    @Scripts.Render("~/bundles/jqueryval")
}