﻿
@{
    ViewBag.Title = "New Rental Form";
}

<h2>New</h2>

<form id="Rentals">
    <div class="form-group">
        <label>Customer</label>
        <div class="tt-container">
            <input id="customer" name="customer" data-rule-validCustomer="true" required type="text" value="" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label>Movie</label>
        <div class="tt-contatiner">
            <input id="movie" name="movie" data-rule-validMovie="true" type="text" value="" class="form-control" />
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <ul id="movies" class="list-group"></ul>
            </div>
        </div>
    </div>
    <button class="btn btn-submit">Submit</button>
</form>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval");
    <script>
        $(document).ready(function () {

            var vm = {
                movieId: []
            };

            var customers = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/api/customers?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#customer').typeahead({
                minLength: 3,
                highlight: true
            }, {
                    name: 'customers',
                    display: 'name',
                    source: customers
                }).on("typeahead:select", function (e, customer) {
                    vm.myCustomerId = customer.id;
                });

            var movies = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/api/movies?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#movie').typeahead({
                minLength: 3,
                highlight: true
            }, {
                    name: 'movies',
                    display: 'name',
                    source: movies
                }).on("typeahead:select", function (e, movie) {
                    $("#movies").append("<li class='list-group-item'>" + movie.name + "</li>");

                    $("#movie").typeahead("val", "");

                    vm.movieId.push(movie.id);
                });

            $.validator.addMethod("validCustomer", function () {
                return vm.myCustomerId && vm.myCustomerId !== 0;
            }, "Please select a valid customer!");

            $.validator.addMethod("validMovie", function () {
                return vm.movieId && vm.movieId.length > 0;
            }, "Please select a valid movie!");

            var validator = $("#Rentals").validate({
                submitHandler: function () {

                    $.ajax({
                        url: "/api/rentals",
                        method: "post",
                        data: vm
                    }).done(function () {
                        toastr.success("Rentals good!");

                        $("#customer").typeahead("val", "");
                        $("#movie").typeahead("val", "");
                        $("#movies").empty();

                        vm = { movieId: [] };

                        validator.resetForm();

                    }).fail(function () {
                        toastr.error("Something happend!");
                        });


                    return false;
                },
            });
        });

    </script>
}
